<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.scu.dms.dao.MeetingMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.scu.dms.model.Meeting" >
    <id column="mid" property="mid" jdbcType="VARCHAR" />
    <result column="mtime" property="mtime" jdbcType="TIMESTAMP" />
    <result column="host" property="host" jdbcType="VARCHAR" />
    <result column="characters" property="characters" jdbcType="VARCHAR" />
    <result column="place" property="place" jdbcType="VARCHAR" />
    <result column="names" property="names" jdbcType="VARCHAR" />
    <result column="Ishold" property="ishold" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    mid, mtime, host, characters, place, names, Ishold
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from meeting
    where mid = #{mid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from meeting
    where mid = #{mid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.scu.dms.model.Meeting" >
    insert into meeting (mid, mtime, host, 
      characters, place, names, 
      Ishold)
    values (#{mid,jdbcType=VARCHAR}, #{mtime,jdbcType=TIMESTAMP}, #{host,jdbcType=VARCHAR}, 
      #{characters,jdbcType=VARCHAR}, #{place,jdbcType=VARCHAR}, #{names,jdbcType=VARCHAR}, 
      #{ishold,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.scu.dms.model.Meeting" >
    insert into meeting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        mid,
      </if>
      <if test="mtime != null" >
        mtime,
      </if>
      <if test="host != null" >
        host,
      </if>
      <if test="characters != null" >
        characters,
      </if>
      <if test="place != null" >
        place,
      </if>
      <if test="names != null" >
        names,
      </if>
      <if test="ishold != null" >
        Ishold,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        #{mid,jdbcType=VARCHAR},
      </if>
      <if test="mtime != null" >
        #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="host != null" >
        #{host,jdbcType=VARCHAR},
      </if>
      <if test="characters != null" >
        #{characters,jdbcType=VARCHAR},
      </if>
      <if test="place != null" >
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="names != null" >
        #{names,jdbcType=VARCHAR},
      </if>
      <if test="ishold != null" >
        #{ishold,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.scu.dms.model.Meeting" >
    update meeting
    <set >
      <if test="mtime != null" >
        mtime = #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="host != null" >
        host = #{host,jdbcType=VARCHAR},
      </if>
      <if test="characters != null" >
        characters = #{characters,jdbcType=VARCHAR},
      </if>
      <if test="place != null" >
        place = #{place,jdbcType=VARCHAR},
      </if>
      <if test="names != null" >
        names = #{names,jdbcType=VARCHAR},
      </if>
      <if test="ishold != null" >
        Ishold = #{ishold,jdbcType=BIT},
      </if>
    </set>
    where mid = #{mid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.scu.dms.model.Meeting" >
    update meeting
    set mtime = #{mtime,jdbcType=TIMESTAMP},
      host = #{host,jdbcType=VARCHAR},
      characters = #{characters,jdbcType=VARCHAR},
      place = #{place,jdbcType=VARCHAR},
      names = #{names,jdbcType=VARCHAR},
      Ishold = #{ishold,jdbcType=BIT}
    where mid = #{mid,jdbcType=VARCHAR}
  </update>
</mapper>