<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scu.dms.dao.QpwjMapper">
  <resultMap id="BaseResultMap" type="cn.edu.scu.dms.model.Qpwj">
    <id column="qpid" jdbcType="VARCHAR" property="qpid" />
    <result column="qptime" jdbcType="TIMESTAMP" property="qptime" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="attribute" jdbcType="DATE" property="attribute" />
    <result column="leadername" jdbcType="VARCHAR" property="leadername" />
    <result column="Zpishi" jdbcType="VARCHAR" property="zpishi" />
    <result column="direction" jdbcType="VARCHAR" property="direction" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    qpid, qptime, title, attribute, leadername, Zpishi, direction, note
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qpwj
    where qpid = #{qpid,jdbcType=VARCHAR}
  </select>
  <select id="getAllFile" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qpwj
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from qpwj
    where qpid = #{qpid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.scu.dms.model.Qpwj">
    insert into qpwj (qpid, qptime, title, 
      attribute, leadername, Zpishi, 
      direction, note)
    values (#{qpid,jdbcType=VARCHAR}, #{qptime,jdbcType=TIMESTAMP}, #{title,jdbcType=VARCHAR}, 
      #{attribute,jdbcType=DATE}, #{leadername,jdbcType=VARCHAR}, #{zpishi,jdbcType=VARCHAR}, 
      #{direction,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.scu.dms.model.Qpwj">
    insert into qpwj
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="qpid != null">
        qpid,
      </if>
      <if test="qptime != null">
        qptime,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="attribute != null">
        attribute,
      </if>
      <if test="leadername != null">
        leadername,
      </if>
      <if test="zpishi != null">
        Zpishi,
      </if>
      <if test="direction != null">
        direction,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="qpid != null">
        #{qpid,jdbcType=VARCHAR},
      </if>
      <if test="qptime != null">
        #{qptime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null">
        #{attribute,jdbcType=DATE},
      </if>
      <if test="leadername != null">
        #{leadername,jdbcType=VARCHAR},
      </if>
      <if test="zpishi != null">
        #{zpishi,jdbcType=VARCHAR},
      </if>
      <if test="direction != null">
        #{direction,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.scu.dms.model.Qpwj">
    update qpwj
    <set>
      <if test="qptime != null">
        qptime = #{qptime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null">
        attribute = #{attribute,jdbcType=DATE},
      </if>
      <if test="leadername != null">
        leadername = #{leadername,jdbcType=VARCHAR},
      </if>
      <if test="zpishi != null">
        Zpishi = #{zpishi,jdbcType=VARCHAR},
      </if>
      <if test="direction != null">
        direction = #{direction,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where qpid = #{qpid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.scu.dms.model.Qpwj">
    update qpwj
    set qptime = #{qptime,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR},
      attribute = #{attribute,jdbcType=DATE},
      leadername = #{leadername,jdbcType=VARCHAR},
      Zpishi = #{zpishi,jdbcType=VARCHAR},
      direction = #{direction,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR}
    where qpid = #{qpid,jdbcType=VARCHAR}
  </update>
 </mapper>